@model IEnumerable<Samim.ViewModel.VMSideBarMenu>

<ul class="SideBarMenuUlTag">
	@foreach (var item in Model)
	{
		<li class="SideBarMenuLiTag">
			@if (item.HasChildren)
			{
				<div class="row">
					<span id="@("span"+item.Id)" class="fa fa-folder-o"></span><a id="@item.Id" class="SideBarMenuAnchorTag" data-target="#@("div"+item.Id)" data-toggle="collapse">@item.Title</a>
				</div>
				<div class="collapse" id="@("div"+item.Id)">
					<partial name="_SideBarMenuBody" model="item.Children" />
				</div>
			}
			else
			{
				<a class="SideBarMenuAnchorTag" href="/@item.Title/Index">@item.Title</a>
			}
		</li>
	}
</ul>